protvista-uniprot {
    font-family: Arial, Helvetica, sans-serif;
}

protvista-uniprot protvista-manager {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 2px 10px;
}

protvista-uniprot protvista-manager protvista-navigation,
protvista-uniprot protvista-manager protvista-sequence {
    grid-column-start: 2;
}

uuw-litemol-component {
    grid-column: span 2;
}

.category-label,
.track-label {
    padding: .5em;
}

.category-label {
    background-color: #b2f5ff;
    cursor: pointer;
}

.category-label::before {
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #333;
    margin-right: 5px;
    -webkit-transition: all .1s;
    /* Safari */
    transition: all .1s;
}

.category-label.open::before {
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    margin-right: 5px;
}

.track-label {
    background-color: #d9faff;
    padding-left: 1em;
}

protvista-track {
    border-top: 1px solid #d9faff;
}

.aggregate-track-content {
    opacity: 1;
    -webkit-transition: opacity .1s;
    /* Safari */
    transition: opacity .1s;
}

.track-label,
.track-content {
    display: none;
}