{
    "presets": [
        [
            "env", {
            "targets": {
                "ie": 11
            },
            "modules": false
        }
        ]
    ],
    "plugins": [
        "@babel/plugin-external-helpers"
    ]
}
