.App-header {
  position: sticky;
  background-color: #ffffff;
  top: 0;
  border-bottom: 1px solid rgb(237, 237, 237);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  justify-content: space-between;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 1);
  box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 1);
  z-index: 1;
}

.App-header a {
  font-weight: 700;
  color: #333333;
  text-decoration: none;
}

.App-header a:hover {
  text-decoration: underline;
}

.logo {
  line-height: 3rem;
  height: 3rem;
}

.logo--container {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.logo--title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 1rem;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 20vw 80vw;
}

.main-nav {
  padding-top: 1rem;
  height: 90vh;
  /* padding-top: 1.5rem; */
}

.active {
  font-weight: bold;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.main-nav__list li {
  margin-left: 0.3rem;
}

.main-nav__list li a {
  display: block;
  padding-left: 1rem;
  width: 100%;
  line-height: 2.5rem;
  color: #333333;
  text-decoration: none;
}

.main-nav__list li a:hover {
  background-color: #dbdbdb;
  color: #000000;
}

.main-nav__list li h3 {
  margin-left: 1rem;
  margin-bottom: 0.7rem;
}

.main-content {
  background-color: #fafaff;
  padding: 1rem;
}

/********************/
/** InterPro Track **/
/********************/

.child-location-group path {
  stroke-width: 1px;
}

.child-location-group.clg-0 path {
  stroke: #aed0e4;
}
.child-location-group.clg-1 path {
  stroke: #1ba3b6;
}
.child-location-group.clg-2 path {
  stroke: #d0aee4;
}
.child-location-group.clg-3 path {
  stroke: #a31bb6;
}
.child-location-group.clg-4 path {
  stroke: #e4d0ae;
}
.child-location-group.clg-5 path {
  stroke: #b6a31b;
}
g.residues-group path.feature,
g.child-group path.feature {
  transition: transform 0.2s ease-out;
}
