body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #333333;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

small {
  font-size: 1rem;
}
