protvista-variation {
    display:flex;            
    width:100%;
}

.protvista-sidebar-container {
    flex: 0.2;
}

.protvista-visualisation-container {
    flex: 1;   
}
circle {
    opacity: 0.6;
}
circle:hover {
    opacity: 0.9;
}
.tick line, .axis path {
    opacity: 0.1;
}

.protvista-highlight {
    fill: #FFE999;
}