protvista-variation {
  display: flex;
  width: 100%;
}

svg {
  background-color: #fff;
}

circle {
  opacity: 0.6;
}
circle:hover {
  opacity: 0.9;
}
.tick line,
.axis path {
  opacity: 0.1;
}

.protvista-highlight {
  fill: #ffe999;
}

.variation-y-right line,
.axis path {
  fill: none;
  stroke: none;
}
