ul.filter-list {
    list-style:none;
    margin:0;
    padding:0;
}
ul.filter-list a {
    cursor:pointer;
}
.filter-list li {
    margin: .4em 0;
}
.filter-select-trigger {
    text-decoration:none;
}
.filter-select-wrapper {
    box-sizing: border-box;
    display:inline-block;
    border-radius:.2em;
    margin-right: .2em;
    margin-left: .3em;
    line-height: .2em;
    padding: .2em;
    border: .1em solid rgba(255, 0, 0, 0);
}
.filter-select {
    margin:0;
    box-sizing:border-box;
    border-radius:.2em;
    width:1.2em;
    height:1.2em;
    display:inline-block;
    background-color: #333333;
}
.filter-select-trigger:hover .filter-select-wrapper {
    border: .1em solid rgba(255, 0, 0, .5);
}
.filter-select-trigger.active .filter-select-wrapper {
    border: .1em solid rgba(255, 0, 0, .9);
}