$font: 'Helvetica neue', Helvetica, Arial, sans-serif;
$font-size: 12px;
$primary-color: #4A90E2;
$white: #FFFFFF;
$grey: #979797;
$darkgrey: #333333;
$lightgrey: #E8E8E8;
$verylightgrey: #F2F2F2;

interaction-viewer {
  font-family: $font;
  font-size: $font-size;
  position: relative;

  text {
    fill:black;
    opacity: .75;
  }

  .active {
    text {
      opacity: 1;
    }
  }

  .active-row {
    stroke: $primary-color;
  }

  .interaction-tooltip {
    z-index: 99999;
    position: absolute;
    background: $white;
    padding: 0.5em 1em;
    border: 1px $grey solid;
    box-shadow: 2px 2px 2px $darkgrey;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.25s;

    .close-interaction-tooltip {
      cursor: pointer;
      float: right;
      margin-bottom: .8em;
    }

    .tooltip-content {
      clear: both;
    }
  }

  .interaction-filter {
    vertical-align: top;
    margin-bottom: .5em;
    ul {
      list-style:none;
      padding: .2em;
      margin: 0;
    }
  }

  .interaction-viewer {
    .cell {
      fill: $primary-color;
      &.active-cell {
        r: 0.8em;
        -webkit-transition: all 0.5s;
        /* Safari */
        transition: all 0.5s;
      }
    }

    .hidden-side {
      fill:$lightgrey;
    }

    .main-accession {
      font-weight: bold;
    }

    .text-highlight {
      fill: #FFF;
      opacity: 0;
      -webkit-transition: all 0.5s;
      /* Safari */
      transition: all 0.5s;
    }
  }

  .interaction-viewer-table {
    tr:nth-child(even) {
      background: $verylightgrey;
    }

    td, th {
      padding: .5em;
      text-align: center;
    }
    th {
      background-color: $lightgrey;
      white-space: nowrap;
    }
    .interaction-viewer-table_row-header {
      font-weight: bold;
      text-align: right;
    }
  }
}
