$font: 'Helvetica neue', Helvetica, Arial, sans-serif;
$font-size: 12px;
$primary-color: #4A90E2;
$white: #FFFFFF;
$grey: #979797;
$darkgrey: #333333;

interaction-viewer {
  font-family: $font;
  font-size: $font-size;

  .interaction-tooltip {
    position: absolute;
    background: $white;
    padding: 0.5em 1em;
    border: 1px $grey solid;
    box-shadow: 2px 2px 2px $darkgrey;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.25s;
  }

  .interaction-filter {
    width:20em;
    vertical-align: top;
    display: inline-block;
    margin: 100px 0 0 .5em;
    h4 {
      margin:0;
    }
    ul {
      list-style:none;
      padding: .2em;
      margin: 0;
    }
  }

  .interaction-viewer {
    display: inline-block;
    .cell {
      fill: $primary-color;
      &.active-cell {
        r: 0.8em;
        -webkit-transition: all 0.5s;
        /* Safari */
        transition: all 0.25s;
      }
    }

    .text-highlight {
      fill: #FFF;
      opacity: 0;
      -webkit-transition: all 0.5s;
      /* Safari */
      transition: all 0.25s;
    }
    .active {
      fill: $white;
      .text-highlight {
        fill: $primary-color;
        opacity: 1;
      }
    }
  }
}
